{% block footer %}
<!-- Footer -->
<footer>
    <div class="newletter-container py-4 default-font">
        <div class="row m-0">
            <div class="col-12 col-md-6 col-lg-4 mb-2 mb-md-0">
                <h3 class="text-center text-md-end"> Subscribe to our newsletter </h3>
            </div>
            <form class="col-12 col-md-5 col-lg-7 d-flex justify-content-center align-items-center">
                <div class="input-group">
                    <input type="email" class="newsletter-email form-control" name="newsletter-email" placeholder="Enter your email address" aria-label="newletter-email" aria-describedby="newsletter" required="required" autocomplete="off">
                    <button class="btn newsletter-btn d-flex justify-content-center align-items-center" type="button" id="newsletter-btn"><span class="d-none d-lg-inline">Send</span> <span class="material-icons ps-0 ps-md-2">subscriptions</span> </button>
                </div>
            </form>
        </div>
    </div>
    <hr class="m-0" />
    <div class="footer-links-container container default-font">
        <div class="row mx-3 p-3 pt-4 pb-2">
            <div class="col-12 col-md-4">
                <h3> ShareBytes </h3>
                <hr class="hr4" />
                <a href="{{url_for('index')}}" class="mb-3"> Use our Web App </a>
                <a href="{{url_for('downloadDesktopApp')}}"> Download our Desktop App </a>
            </div>
            <div class="col-12 col-md-4">
                <h3> Resources </h3>
                <hr class="hr4" />
                <a href="{{url_for('blog')}}" class="mb-3"> Our Blog </a>
            </div>
            <div class="col-12 col-md-4">
                <h3> Support </h3>
                <hr class="hr4" />
                <a href="{{url_for('helpForum')}}" class="mb-3"> Help Forum </a>
                <a href="{{url_for('contact')}}"> Contact Us </a>
            </div>
        </div>
    </div>
    <hr class="m-0" />
    <div class="footer-bottom-container text-center">
        &copy; ShareBytes | All Rights Reserved
    </div>
</footer>
{% endblock %}