{% extends "base.html" %}

{% block content %}
    <div class="page-not-found-container d-flex justify-content-center align-items-center flex-column default-font text-center">
        <h2 class="title-404 m-0"> 404 </h2>
        <p class="info-1 m-0"> Page Not Found </p>
        <hr class="hr-404">
        <p class="info-2 mt-4"> Maybe this page is moved OR maybe deleted </p>
        <p class="info-3"> In case, you tried to open a link of the file shared by your friend/colleague and landed on this page, then try contacting them as the file is deleted</p>
    </div>
{% endblock %}