{% extends "base.html" %}

{% block content %}
    <div class="download-app-container d-flex justify-content-center align-items-center default-font flex-column">
        <h2 class="coming-soon-title m-0 py-2"> COMING SOON </h2>
        <div class="construction-vector-container"></div>
        <p class="coming-soon-text mt-4"> The desktop app is currently under construction. It is expected to be launched soon. </p>
        <a href="{{back}}" class="btn go-back-btn"> Go Back </a>
    </div>
{% endblock %}