{% extends "base.html" %}

{% block content %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark py-0">
        <div class="container-fluid py-md-1 px-0">
            <span class="navbar-brand ps-xl-5 ps-lg-4 ps-5 me-xl-5 me-lg-4"> <span>S</span>hare<span>B</span>ytes </span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse default-font" id="navbarTogglerDemo02">
                <span class="btn nav-user me-md-5 d-none d-lg-block" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ user }} currently logged in">{{ user }}</span>
                <a href="{{ url_for('logout') }}" class="btn get-started-nav-btn me-lg-4 d-none d-lg-block">Logout</a>
            </div>
        </div>
    </nav>
    <div class="files-container default-font">
        <div class="row files-container-top pt-5 pb-3 d-flex justify-content-center align-items-center">
            <div class="col-lg-4 offset-lg-2">
                <h2> Your Uploads </h2>
                <hr class="hr6" />
            </div>
            <div class="col-lg-4 offset-lg-2">
                <button class="btn upload-files-btn d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#uploadFileModal" data-bs-whatever="File"> <span class="material-icons pe-2"> add </span> Upload </button>
            </div>
        </div>
        {% if fileCount==0 %}
        <div class="row d-flex justify-content-center align-items-center m-0">
            <div class="no-result-vector-container"> </div>
            <h2 class="no-upload-message"> You do not have any uploads yet :-( </h2>
        </div>
        {% else %}
        <div class="container d-flex justify-content-center align-items-center">
            <table class="table files-table">
                <thead class="table-dark">
                    <tr>
                        <th style="width: 35%;">File name</th>
                        <th style="width: 20%;">File Size</th>
                        <th style="width: 20%;">Uploaded</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in uploadedFiles %}
                    <tr>
                        <td>{{ file['originalFileName'] }}</td>
                        <td>{{ file['fileSize'] }}</td>
                        <td>{{ file['formattedTime'] }}</td>
                        <td class="d-flex justify-content-center align-items-center"> <button class="btn share-file-btn"> Share </button> <button class="btn delete-file-btn"> Delete </button> </td>
                    </tr>
                    {% endfor %}                   
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
    <div class="modal fade" id="uploadFileModal" tabindex="-1" aria-labelledby="uploadFileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel"> Upload a new file </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="d-flex flex-column align-items-center" method="POST" action="">
                        <label for="formFile" class="form-label text-center px-2 pb-3"> Click below to select a file or drag & drop a file here, you wish to upload to the below container. </label>
                        <div class="file-drag-area mb-3">
                            <input class="form-control" type="file" id="formFile">
                        </div>
                        <button type="submit" class="btn upload-file-modal-button mt-2"> Upload Selected File </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_scripts %}
    <!-- Custom JS Script for Index Page -->
    <script>
        let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        });

        var exampleModal = document.getElementById('uploadFileModal')
        exampleModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var recipient = button.getAttribute('data-bs-whatever')
            
        })
    </script>
{% endblock %}