{% extends "base.html" %}

{% block content %}
    <div class="register-container-overlay"></div>
    <div class="register-container d-flex justify-content-center align-items-center default-font flex-column">
        <span class="navbar-brand-extra text-center d-block d-md-none"> <span>S</span>hare<span>B</span>ytes </span>
        <div class="register-form-container">
            <div class="register-form">
                <h3 class="text-center"> Forgot Your Password </h3>
                <hr class="hr5 mx-auto" />
                <!-- Display Success Message If Any Validation Failed -->
                {% if success != '' %}
                    <div class="alert alert-success py-1 d-flex justify-content-center align-items-center error-message" role="alert">
                        <span class="material-icons pe-3">check_circle</span> {{ success }}
                    </div>
                {% endif %}
                <!-- Display Error Message If Any Validation Failed -->
                {% if error != '' %}
                    <div class="alert alert-danger py-1 d-flex justify-content-center align-items-center error-message" role="alert">
                        <span class="material-icons pe-3">warning</span> {{ error }}
                    </div>
                {% endif %}
                <form method="POST" action="{{ url_for('handleForgotPassword') }}">
                    <div class="mb-3 mt-4">
                        <label for="your-email" class="form-label">ENTER YOUR EMAIL</label>
                        <input type="email" class="form-control" id="your-email" name="your-email">
                    </div>
                    <p class="reset-instruction text-center mt-4"> Password reset link will be shared with you on your email. </p>
                    <button type="submit" class="btn btn-block register-btn mt-0"> Reset Password </button>
                    <p class="already-account-message float-end mt-2 mb-0"> Or Back to <a href="{{ url_for('login') }}">Login</a> </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}