{% extends "base.html" %}

{% block content %}
    <div class="register-container-overlay"></div>
    <div class="register-container d-flex justify-content-center align-items-center default-font flex-column">
        <span class="navbar-brand-extra text-center d-block d-md-none"> <span>S</span>hare<span>B</span>ytes </span>
        <div class="register-form-container">
            <div class="register-form">
                <h3 class="text-center"> Reset Password </h3>
                <hr class="hr5 mx-auto" />
                <!-- Display Error Message If Any Validation Failed -->
                {% if error != '' %}
                    <div class="alert alert-danger py-1 d-flex justify-content-center align-items-center error-message" role="alert">
                        <span class="material-icons pe-3">warning</span> {{ error }}
                    </div>
                {% endif %}
                <form method="POST" action="{{ url_for('handleResetPassword') }}">
                    <div class="mb-3 mt-4">
                        <label for="your-password" class="form-label">ENTER YOUR NEW PASSWORD</label>
                        <input type="password" class="form-control" id="your-password" name="your-password">
                    </div>
                    <p class="reset-instruction text-center mt-3"> Make sure you don't forget this one. </p>
                    <button type="submit" class="btn btn-block register-btn mt-0"> Update </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}